<!DOCTYPE html>
<html dir='ltr' lang='en'>
	<head>
		<meta charset='utf-8'>
		<title>Test</title>
		<link href='/styles/resets.css' rel='stylesheet'>
		<link href='/styles/base.css' rel='stylesheet'>
		<link href='/styles/header.css' rel='stylesheet'>
		<link href='/styles/form.css' rel='stylesheet'>
		<link href='/styles/footer.css' rel='stylesheet'>
	</head>

	<body>

		<header>
			<div class=''>
				Logo
			</div>
			<div class=''>
				navigation
			</div>
		</header>

		<main>
			<section>
				<form class='' onsubmit='return handleSubmit(event)'>
					<input id='name' name='input' onblur='onBlur()' placeholder='Name' type='text' value=''>
					<input name='' onclick='return handleSubmit(event)' onsubmit='return handleSubmit(event)' type='submit' value='submit'>
				</form>
				<section>

					<section>
						<strong>Form Results:</strong>
						<div id='results'></div>
					</section>
		</main>

		<footer>
			<p>This is a footer</p>
		</footer>

	</body>
</html>
